# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# Folders with Data
Data/*
Logo/*
*.nc
*.docx

# DS Store for mac coding
**/.DS_Store
Icon*

# API credential
X - PersonalSettings.R
HimalayanDB_Oslo.pptx
desktop.ini
.megaignore
Rubbish/*
Covariates/COP30.tif

!Exports/2m_temperature/*.png

*/DEMO_*
Exports/peaks_time_series.csv
Dissemmination/*
!Exports/ModelData.csv
Exports/Raw*
OlderScripts/*
.gitignore
Exports/peaks_time_series_DAILY.rds
Exports/peaks_time_series_HOURLY.rds
